.widgets {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 32px 16px 32px 32px;
}

.widget {
    display: flex;
    cursor: grab;
    width: 260px;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &:hover {
        box-shadow: var(--box-shadow-hover);
    }

    &Body {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &Dragging {
        cursor: grabbing;
    }
}