.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: var(--box-shadow-card);
    /* box-shadow: var(--box-shadow-popper);
    box-shadow: var(--box-shadow-modal);
    box-shadow: var(--box-shadow-dnd); */
    position: relative;
}